<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Conclusion</h2>
        <hr>
      </div>
    </div>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-xs-8 offset-xs-2">
        <p>
          This study has been a great experience for learning how to raise capital
          for a start up. A SWOT Analysis was conducted using information from an
          actual start up. This project included intense market research that resulted
          in a strong business plan. A budget was proposed using real-world expenses,
          forecasts, and burdown projections. The mission of this study was to choose
          a project and make a solid case for an investment. The SWOT analysis provided
          an understanding of where Skydio has a market advantage as well as where risks
          exist. The business justification provided a clear vision of Sydio's strategy
          and how the business plans to leverage it's internal strengths to capitalize
          on external opportunities. The budget plan justifies each dollar of the requested
          investment in order to provide the necessary runway to launch a product as well as
          a projected ROI for the next year
        </p>
      <p>Finally, the mission was executed with an e-commerce website</p>
      </div>
    </div>
  </div>
</div>
