
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">EMP-524 Final Project</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#/products" role="button">Shop Now &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Products</h2>
      <hr>
    </div>
  </div>
  <!-- Example row of columns -->
  <div class="row">
    <div id="products">
      <div v-for="product in products">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" v-bind:src="product.media.source" alt="Card image cap" height="100%" width="100%">
            <div class="card-block">
              <h4 class="card-title">{{ product.name }}</h4>
              <p class="card-text">{{ product.description }}</p>
              <a href="#/conclusion" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/products.js"></script>
