<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>SWOT Analysis</h2>
        <hr>
      </div>
    </div>
    <!-- Example row of columns -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 float-xs-right">
         <small class="float-xs-right"><a href="https://docs.google.com/document/d/1RLtMlkCm2oDga6e77n71etmDqIrZWhX_GsyKe0zySdQ/edit?usp=sharing"><i class="fa fa-cloud-download"></i> Download full SWOT analysis</a></small>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="alert alert-success" role="alert">
          <strong>Strengths</strong>
          <p>Internal strengths of the business</p>
        </div>
        <ul>
          <li>Industry Experience</li>
          <li>Location</li>
          <li>Resources</li>
          <li>Artificial Intelligence Expertise</li>
        </ul>
      </div>
      <div class="col-xs-6">
        <div class="alert alert-warning" role="alert">
          <strong>Weaknesses</strong>
          <p>Internal weaknesses of the business</p>
        </div>
        <ul>
          <li>Lack of knowledge about the consumer</li>
          <li>Lack of sales</li>
          <li>Time-to-Market</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="alert alert-info" role="alert">
          <strong>Opportunities</strong>
          <p>External opportunities in the market/industry</p>
        </div>
        <ul>
          <li>Affordable Costs</li>
          <li>Many applications</li>
          <li>Growing market</li>
          <li>The market is vulnerable to the emergence of a new leader</li>
        </ul>
      </div>
      <div class="col-xs-6">
        <div class="alert alert-danger" role="alert">
          <strong>Threats</strong>
          <p>External threats in the market/industry</p>
        </div>
        <ul>
          <li>Competitors with brand-name recognition have a similar product</li>
          <li>Lack of legislation</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Why Commercialize?</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 offset-xs-2 text-center">
        <p>The Skydio project has an opportunity to become the preeminent brand
          in commercial drones -- a market that has yet to name a dominant brand
          and has a potential market value of $127B by 2020. The real-world applications
          are plentiful, no brand has been claimed the industry leader yet, and
          Skydio is developing features that are not yet perfected by any competitors.
          Skydio is backed by two well respected VC firms and has a team of top-talent
          engineers and management. Skydio is positioned to take this industry’s throne
          and lead the charge into the future of artificially intelligent drones.</p>
      </div>
    </div>
  </div>
</div>
